<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>TOEIC Study Lab</title>
</head>
<body>

<h1>TOEIC Study Lab</h1>

<p>
{% if grammar_point %}
出題モード：{{ grammar_point }}
{% else %}
出題モード：全問題
{% endif %}
</p>

{% if question %}
<p>{{ question[2] }}</p>

<form action="/answer" method="post">

    <input type="hidden"
           name="question_id"
           value="{{ question[0] }}">

    <button type="submit" name="user_answer" value="A">
        A. {{ question[3] }}
    </button>

    <br><br>

    <button type="submit" name="user_answer" value="B">
        B. {{ question[4] }}
    </button>

    <br><br>

    <button type="submit" name="user_answer" value="C">
        C. {{ question[5] }}
    </button>

    <br><br>

    <button type="submit" name="user_answer" value="D">
        D. {{ question[6] }}
    </button>

</form>
{% else %}
<p>該当する問題がありません</p>
{% endif %}

<p><a href="/history">履歴を見る</a></p>

</body>
</html>