<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>TOEIC Study Lab</title>
</head>
<body>

<h1>TOEIC Study Lab</h1>

<p>{{ question[2] }}</p>

<form action="/answer" method="post">

    <input type="hidden"
           name="question_id"
           value="{{ question[0] }}">

    <button type="submit" name="user_answer" value="A">
        A. {{ question[3] }}
    </button>

    <br><br>

    <button type="submit" name="user_answer" value="B">
        B. {{ question[4] }}
    </button>

    <br><br>

    <button type="submit" name="user_answer" value="C">
        C. {{ question[5] }}
    </button>

    <br><br>

    <button type="submit" name="user_answer" value="D">
        D. {{ question[6] }}
    </button>

</form>

</body>
</html>